.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #155c7e;
  color: white;

  height: 200px;
  // padding: 60px 100px;

  .left-column {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 50px;

    .phone-number {
      font-size: 20px;
    }
  }

  .center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
    width: 500px;

    .banner-image {
      display: flex;
      justify-content: center;
    }

    .nav-links-wrapper {
      display: flex;
      justify-content: space-between;

      .nav-link-wrapper {
        a {
          text-decoration: none;
          color: white;
          border-bottom: 1px solid transparent;
          transition: 0.5s;

          &:hover {
            border-bottom: 1px solid white;
          }
        }
      }
    }
  }

  .right-column {
    display: flex;
    justify-content: space-between;

    margin-right: 50px;
  }
}
